AI Video Generator.json
{
  "name": "AI Video Generator",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Generate video konten otomatis",
        "formDescription": "Isi informasi di bawah untuk generaate ai video",
        "formFields": {
          "values": [
            {
              "fieldLabel": "prompt"
            },
            {
              "fieldLabel": "img_url"
            },
            {
              "fieldLabel": "task_type"
            },
            {
              "fieldLabel": "api_key"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -608,
        -48
      ],
      "id": "eb457068-f121-47a5-ada5-61fda800a258",
      "name": "On form submission",
      "webhookId": "278794fe-56af-4f14-ab18-80900bc58370"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -592,
        128
      ],
      "id": "62c5407a-3c27-4909-9229-ffe8839ae197",
      "name": "Wait",
      "webhookId": "8e96237d-6f9c-40c0-94e3-541719394a40"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "8ad2c97e-3e6f-44fa-bbee-9495055608f0",
              "leftValue": "success",
              "rightValue": "={{ $json.data.state }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -192,
        128
      ],
      "id": "8a72ea81-1bfe-4e7d-9e26-744697ee287c",
      "name": "Check Generate"
    },
    {
      "parameters": {
        "jsCode": "const result = JSON.parse($json.data.resultJson);\n\nreturn [{\n  videoUrl: result.resultUrls?.[0] || null\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        368
      ],
      "id": "b0e14883-e47f-4330-b8db-ce826997dfe7",
      "name": "Format result"
    },
    {
      "parameters": {
        "url": "=https://api.kie.ai/api/v1/jobs/recordInfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('On form submission').item.json.api_key }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -384,
        128
      ],
      "id": "b5c71042-9670-48f3-af10-5190e2b036d8",
      "name": "Status generate"
    },
    {
      "parameters": {
        "url": "={{ $json.videoUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -384,
        368
      ],
      "id": "745bcd0b-a7f1-4ba8-b131-4105d23ce9a7",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"grok-imagine/text-to-video\",\n  \"input\": {\n  \"image_urls\": [\n    \"{{ $json.img_url.replace('file/d/', 'uc?export-v1ew&id=').split('/view')[0]}}\"\n  ],\n  \"prompt\": \"{{ $json.prompt }}\",\n  \"aspect_ratio\": \"2:3\",\n  \"mode\": \"normal\",\n  \"duration\": \"6\",\n  \"resolution\": \"480p\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -192,
        -48
      ],
      "id": "5ce18d0a-27b7-474d-90d1-db94b24f76cd",
      "name": "Mengirim video generation request ke kie.ai api"
    },
    {
      "parameters": {
        "name": "Video topik 3",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1YEGzwQkr4lNA2MnYwtge6q2hwmYFsqOO",
          "mode": "list",
          "cachedResultName": "AI For Business",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1YEGzwQkr4lNA2MnYwtge6q2hwmYFsqOO"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -176,
        368
      ],
      "id": "832c657c-7731-4719-9646-0978a5938710",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "uMYwN8DAh6nkHbGO",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Mengirim video generation request ke kie.ai api",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Status generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Generate": {
      "main": [
        [
          {
            "node": "Format result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format result": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status generate": {
      "main": [
        [
          {
            "node": "Check Generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mengirim video generation request ke kie.ai api": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "467b01e3-493d-4dd0-a7d0-6befba1dd353",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "03f74ed8a45beecba86a08e11b50eac8929a00d81a4ce250ccf195a1ea5432cf"
  },
  "id": "ysjBD6wVs33kkEmw",
  "tags": []
}