Tugas Pertemuan 5 Impmentasi AI Keuangan.json
{
  "name": "Tugas Pertemuan 5 Impmentasi AI Keuangan",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "3a3253cb-7c87-4fc2-8a56-44c634a9a9ba",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://www.cnbcindonesia.com/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        224,
        -96
      ],
      "id": "a420fb84-a3c5-41ca-9cba-b500de9b22c0",
      "name": "CNBC Indonesia RSS"
    },
    {
      "parameters": {
        "url": "https://finance.detik.com/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        192,
        80
      ],
      "id": "8378c92b-1980-41ae-a74c-ebf0ffdfe141",
      "name": "Finance Detik RSS"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        480,
        0
      ],
      "id": "45cf92cd-7714-400e-a363-a698877d6b90",
      "name": "Merge"
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        688,
        0
      ],
      "id": "2a819c57-e221-4fb1-b2a7-3070ddb66c85",
      "name": "Limit"
    },
    {
      "parameters": {
        "url": "={{ $json.link }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        896,
        0
      ],
      "id": "9e10f299-21c4-44bb-8d4d-0fc7cb0c86cb",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "text",
              "cssSelector": "body"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        16,
        256
      ],
      "id": "694329bc-17bc-4b27-b4f1-f21872b857a3",
      "name": "HTML"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        224,
        256
      ],
      "id": "04a3522c-490c-48df-8633-c2226469a9d1",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Berikut adalah 10 artikel berita keuangan teratas hari ini: {{ $json.text }}  Tugas: Ringkas 5 berita utama pasar hari ini dalam 5 poin.  Gunakan bahasa Indonesia yang singkat, jelas, dan informatif."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        432,
        288
      ],
      "id": "822b97c6-b499-4f6c-bcc9-29df7b6a23b3",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "xiaomi/mimo-v2-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        448,
        432
      ],
      "id": "510e2457-d34a-4439-ae75-581d88004240",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "O5RvXtqsyCc2z6Ft",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5434153526",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        784,
        288
      ],
      "id": "44dff48a-164c-42e0-a1e6-6c313fb87f77",
      "name": "Send a text message",
      "webhookId": "053b7829-b445-4b45-a1bf-4e5b2ac8b21f",
      "credentials": {
        "telegramApi": {
          "id": "YtLGgvYkO0uFVIPt",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "CNBC Indonesia RSS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Finance Detik RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CNBC Indonesia RSS": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finance Detik RSS": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6f16980a-b6c6-430f-80ca-d2d4572f8e50",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3684aac6e200ffb18021f1bd62e6bb77c03c1d9e0a452b29104aff5e4430926f"
  },
  "id": "twO52oeoKRb0gYT0",
  "tags": []
}