Tugas 1 Pertemuan 6 Impmentasi AI Keuangan.json
{
  "name": "Tugas 1 Pertemuan 6",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -832,
        -144
      ],
      "id": "d5410fea-6231-4950-a13f-df73ee600d9b",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "2aRZjKBx418Te94N",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "73996dfb-33fa-4e11-9dc8-2cbc3b2e8c04",
              "leftValue": "={{ $json.From }}",
              "rightValue": "customer@bcainsurance.co.id",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "c2dac547-7e46-43fb-a8f9-ee1ce55dd75d",
              "leftValue": "={{ $json.From }}",
              "rightValue": "haloblu@bcadigital.co.id",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "f2c64a16-fd5f-4de3-94eb-3e91d5c5eda9",
              "leftValue": "={{ $json.From }}",
              "rightValue": "customer@bcalife.co.id",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "f75948b8-81ab-47c0-947f-6cf8b7f3ae94",
              "leftValue": "={{ $json.From }}",
              "rightValue": "recruitmentbcaf@bcaf.id",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -672,
        -144
      ],
      "id": "1676cd3c-3730-4fa3-9f97-336e0d9b8bea",
      "name": "Cek Allowlist"
    },
    {
      "parameters": {
        "chatId": "135519294",
        "text": "=Ada email baru dari:  {{ $('Gmail Trigger').item.json.From }}\nSubject: {{ $('Gmail Trigger').item.json.Subject }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -448,
        -320
      ],
      "id": "aa0e71d2-03e1-4566-8eb0-0e9fe69c7e7e",
      "name": "Reminder Email dari Allowlist",
      "webhookId": "7d0035d9-716a-43bc-bbf0-44bc7f3972a1",
      "credentials": {
        "telegramApi": {
          "id": "tQtAI1y581t7diLO",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Ambil output dari node sebelumnya (LLM)\nconst llmOutput = $json.choices[0].message.content;\n\n// Debug (opsional)\nconsole.log(llmOutput);\n\n// Regex cari \"Skor: angka\"\nconst match = llmOutput.match(/Skor:\\s*(\\d+)/);\n\nlet score = 0;\n\n// Jika ditemukan\nif (match && match[1]) {\n  score = parseInt(match[1], 10);\n}\n\n// Return hasil\nreturn {\n  score: score\n};\n\n// Jika ditemukan, ambil angkanya\nif (match && match[1]) {\n  score = parseInt(match[1], 10);\n}\n\n// Kembalikan skor DAN messageId untuk node IF dan Gmail\nreturn { \n  score: score,\n  messageId: emailMessageId \n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        -128
      ],
      "id": "eec75556-1789-478e-b775-01b248b02969",
      "name": "Ekstrak Skor dari Teks AI"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "SPAM"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        304,
        -240
      ],
      "id": "96d002b0-08a5-40b2-bf65-b31715011e00",
      "name": "Memberikan Label Otomatis",
      "webhookId": "f047cbc6-df81-414a-82f1-ba6728aa9ea2",
      "credentials": {
        "gmailOAuth2": {
          "id": "2aRZjKBx418Te94N",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "135519294",
        "text": "=⚠️ Tinjauan Email Diperlukan ⚠️  Email ini TIDAK dihapus, tapi AI mendeteksinya. Mohon periksa secara manual.   - Skor AI: {{ $json.score }}/10  - Dari: {{ $('Gmail Trigger').item.json.From }} - Subjek: {{ $('Gmail Trigger').item.json.Subject }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        304,
        -16
      ],
      "id": "a1244315-ce6d-4cd3-a62a-fef10a575303",
      "name": "Send a text message",
      "webhookId": "e12a4887-daea-40a3-b32f-3db544858407",
      "credentials": {
        "telegramApi": {
          "id": "tQtAI1y581t7diLO",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.1-8b-instant\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{$json.snippet}}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -432,
        -80
      ],
      "id": "355eef8a-1929-48c9-b3fa-c38d2bb0c550",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "97466855-caa2-402a-b07c-eb89832d13d0",
              "leftValue": "={{ $json.score }}",
              "rightValue": 6,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "2e1050ee-99af-41c3-b63d-a8aa5104bb19",
              "leftValue": "={{ $json.score }}",
              "rightValue": 6,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        80,
        -128
      ],
      "id": "e90a5ba8-9835-415f-a474-4bd5b1782006",
      "name": "Cek Skor Bahaya"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Cek Allowlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cek Allowlist": {
      "main": [
        [
          {
            "node": "Reminder Email dari Allowlist",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ekstrak Skor dari Teks AI": {
      "main": [
        [
          {
            "node": "Cek Skor Bahaya",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Ekstrak Skor dari Teks AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cek Skor Bahaya": {
      "main": [
        [
          {
            "node": "Memberikan Label Otomatis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "97c72cf2-9da6-424c-bd1a-f610e9dda1f0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d0d86de74ca6f21e801d7ca75f66a6335252d89f2ca5dc385ebc7b3460862d43"
  },
  "id": "XS0udXQfaRiyvUmd",
  "tags": []
}